
.result {
  display :flex;
  flex-wrap:  nowrap;
  align-items : center;
  margin: 0 0 8px 0
}


.result .summary {
    flex-grow: 1;
    align-items: center;
    position: relative;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    overflow: hidden;
}

.result .summary .title {
    padding: 20px;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    border-radius: 3px;
}

.result .summary .bar {
    background-color: #00C389;
    width: 43.6364%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;

}

.result .summary .bar .title {
    padding: 20px;
    position: relative;
    color: #000000;
    white-space: nowrap;
    font-weight: bold;
}

.result .points {
    display: flex ;
    align-items: center;
    width: 2.5rem;
    text-align: right;
    justify-content: flex-end;
    font-weight: bold;
    color : #00C389;
    font-size: 18px;
}