.result {
  display :flex;
  flex-wrap:  nowrap;
  align-items : center;

}


.result .summary {
  flex-grow :1;
  align-items : center;
}

.result .points {
  display: flex ;
  align-items: center;
}

