.subject {
  display :flex;
  flex-wrap:  nowrap;
  align-items: center;
}

.subject  .summary {
  flex-grow :1;
  margin-right: 20px;
}

.subject .button+.button {
  margin-left: 10px;
}


.subject .summary h4 {
  font-weight: normal;
  display: flex;
  margin: 0;
}
